body {
    font-family: 'Roboto', sans-serif;
    background-color: #2E7D32;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#game-container {
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    background: #388E3C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.team, .counters {
    padding: 10px;
    background: #4CAF50;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team div {
    margin-bottom: 15px;
    font-size: 1.2em;
}

#score-team2{
    font-size: 2em;
}
#score-team1{
    font-size: 2em;
}

.counters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
    max-width: 200px;
    background: #66BB6A;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.number {
    font-size: 2em;
    margin-bottom: 10px;
}

.counter-text, .arrow {
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
}

.arrow {
    font-size: 1.5em;
    padding: 5px 10px;
}

.arrow:hover {
    color: #FFD54F;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #43A047;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388E3C;
}

@media (max-width: 600px) {
    .scoreboard {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .team, .counters {
        width: 100%;
        margin: 0;
    }
}
